<div class="sign-up">
  <h3>Signup</h3>
  <form [formGroup]="formGroup">
    <div class="input-fields">
      <div class="field">
        <label>First Name</label>
        <input formControlName="firstName" type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="field">
        <label>Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="field">
        <label>Email</label>
        <input formControlName="email" type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class="field">
        <label>Password</label>
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div *ngIf="error.error" class="alert alert-danger">{{ error.message }}</div>
      <button class="btn btn-primary" (click)="signup(formGroup)">Signup</button>
    </div>
  </form>
</div>
